{% extends "base.html" %}

{% block title %}   
    Embed Text
{% endblock %}

{% block content %}
    <div class="embed--container">
        <div class="d-flex align-center input--container">
            <div>
                <h1 class="font-weight-bold white--text">Want to send a secret message?</h1>
                <h2 class="font-weight-bold white--text">Use this awesome tool.</h2>
                <h4 class="mt-5 font-weight-regular white--text">Upload an image and enter your secret text</h4>
                <template>
                    <v-file-input
                        label="Upload image"
                        prepend-icon="mdi-camera"
                        dark
                        chips
                        outlined
                        dense
                        v-model="image"
                        accept="image/*"
                        class="mt-5"
                    ></v-file-input>
                </template>
                <v-textarea
                    outlined
                    clearable
                    dense
                    single-line
                    label="Secret message"
                    auto-grow
                    dark
                    rows="2"
                    v-model="textEmbed"
                ></v-textarea>
                <h5 class="mt-5 font-weight-regular white--text">Press the button below to embed your secret message. Save the image that appears later</h5>
                <div class="mt-5 d-flex justify-center button--container">
                    <button class="font-weight-bold overline" @click="embedImage">
                        <div class="d-flex align-center">
                            <i class="mr-2 fas fa-fw fa-arrow-circle-right"></i>
                            Embed secret message
                        </div>
                    </button>
                </div>
                <div class="mt-2 text-center error--text" v-if="error">Make sure an image is uploaded!</div>
            </div>
        </div>
        <div class="d-flex justify-center align-center image--container">
            <div class="loading" v-if="loading">
                <div class="loader"></div>
            </div>
            <img :src="imageURL" v-if="!loading && imageURL">
        </div>
    </div>
{% endblock %}